
body{
	font-family: sans-serif;
	margin: 0px;
}
*{
	box-sizing: border-box;
}
.container {
	max-width: 1020px;
	margin: 0 auto;
}
.slogan{
	padding: 30px 0;
}
h1{
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	margin: 0 0 5px 0;
}
h1 span{
	color: orange;
}
.words{
	text-align: center;
	margin: 0 0 20px 0;
	color: #ccc;
}
.working-items{
	display: flex;
	justify-content: space-between;
	}
.working-item{
	text-align: center;
	width: 23%;
	background: lightblue;
	
	padding: 10px;
}
.item-1 h4 a{
	color: #fff;
	display: inline-block;
	padding-top: 70px;
	text-decoration: none;
	background: url(../img/ic-1.png) 50% 0 no-repeat;
}
.working-item:nth-child(2){
	background: purple;
}
.item-2 h4 a{
	background: url(../img/ic-2.png) 50% 0 no-repeat;
	color: #fff;
	display: inline-block;
	padding-top: 70px;
	text-decoration: none;

}
.working-item:nth-child(3){
	background: pink;
}
.item-3 h4 a{
	background: url(../img/ic-3.png) 50% 0 no-repeat;
	color: #fff;
	display: inline-block;
	padding-top: 70px;
	text-decoration: none;
}
.working-item:nth-child(4){
	background: red;
}
.item-4 h4 a{
	background: url(../img/ic-4.png) 50% 0 no-repeat;
	color: #fff;
	display: inline-block;
	padding-top: 70px;
	text-decoration: none;
}
